

<ion-header>

  <ion-navbar  color="dark">

    <ion-title>
      Opciones
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-list>
    <ion-list-header>
      Mostrar
    </ion-list-header>

    <ion-item-group>
      <ion-item-divider color="light">Información en marcadores</ion-item-divider>

      <ion-item>
        <ion-label>Precio Magna</ion-label>
        <ion-toggle value="foo" color="secondary" checked="true"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>Precio Premium</ion-label>
        <ion-toggle color="danger"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>Precio Diesel</ion-label>
        <ion-toggle color="dark"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>Rating en Servicios</ion-label>
        <ion-toggle color="energized"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>Rating Litros Reales</ion-label>
        <ion-toggle color="energized"></ion-toggle>
      </ion-item>

    </ion-item-group>


    <ion-item-group>
      <ion-item-divider color="light">Marcadores</ion-item-divider>

      <ion-item>
        <ion-label>Estaciones de Gasolina</ion-label>
        <ion-toggle color="royal"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>Estaciones de Recarga Electrica</ion-label>
        <ion-toggle color="royal"></ion-toggle>
      </ion-item>

    </ion-item-group>

  </ion-list>
</ion-content>