
<ion-header>

  <ion-navbar color="dark">

    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>
      Gasolinazo
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="goToMapPage()">
        <ion-icon name="map"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentModal()">
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding class="pageLogin">

  <h1>Accesa/Registrate</h1>
  <ion-list>
      <ion-item>
        <ion-label floating>Username</ion-label>
        <ion-input type="text" [(ngModel)]="email" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
  </ion-list>

  <div padding>
    <div color="primary">{{uid}}</div>
  </div>
  
  <div padding>
    <div color="danger">{{error}}</div>
  </div>
  
  <div padding>
    <button ion-button full round  color="secondary"(click)="register()">Register</button>
    <button ion-button full round  color="light" (click)="login()">Login</button>
    <button ion-button full round  color="dark" (click)="logout()">LOGOUT</button>
  </div>

  <div padding>
    <button ion-button full round  (click)="login_facebook()">ACCESA CON FACEBOOK</button>
  </div>

  <div padding>
    <img *ngIf="photoURL" src="{{photoURL}}" alt="" width="45">{{displayName}}
  </div>

</ion-content>
