
<ion-header>

  <ion-navbar  color="dark">

    <ion-title>
      Estaciones
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  {{posicion}}
  <div id="map-canvas"></div>
</ion-content>
